<div class="modal modal-create-event fade" id="modal-create-event" tabindex="-1" role="dialog" aria-labelledby="modalCreateEvent" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create Event</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group images">
                        <div id="profile-upload-image" class="upload-area profile">
                            <div class="placeholder j-show-image-uploader-modal" data-area-id="profile-upload-image">
                                <h4>Start with an image</h4>
                                <a href="#" class="btn btn-lightgrey"><i class="fa fa-camera" aria-hidden="true"></i> Choose Photo</a>
                            </div>
                            <span class="image-uploaded">
                                <div class="block-bottom">
                                    <a href="#" class="btn btn-lightgrey"><i class="fa fa-camera" aria-hidden="true"></i> Change Photo</a>
                                </div>
                            </span>
                        </div>
                    </div>
                    <label>Event Name</label>
                    <div class="form-group">
                        <input type="text" class="form-control" value="">
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="block-datepicker">
                                <label>Date / Time:</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Require an RSVP tp attend:</label>
                            <div class="form-group">
                                <select type="text" class="form-control select-rsvp">
                                    <option value="">Yes</option>
                                    <option value="">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <label>Organizer(s):</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="org-name">
                    </div>
                    <label>Location</label>
                    <input type="checkbox" class="webinar"><span>This is a webinar online event</span>
                    <div class="form-group location-holder webinar-on">
                        <input type="text" class="form-control" value="" placeholder="Enter Location" id="searchTextField">
                    </div>
                    <div class="form-group webinar-off">
                        <input type="text" class="form-control" value="" placeholder="Add URL to the Webinar">
                    </div>
                    <label>Event Description</label>
                    <div class="form-group">
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                    <label>Event Privacy:</label>
                    <div class="form-group">
                        <select type="text" class="form-control select-privacy">
                            <option value="global">Global</option>
                            <option value="private">Private, Group members only</option>
                        </select>
                    </div>

                    <div class="form-group form-group-lg form-group-suggest-groups hidden">
                        <label for="">Group(s):</label>
                        <div id="magic-suggest"></div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="button-holder text-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>