.btn {
    font-size: 1em;
    font-weight: 500;
    letter-spacing: -.02em;
    box-shadow: none;
    transition: all .15s ease;
    cursor: pointer;
    z-index: 99;

    &:focus,
    &:active,
    &:hover {
        text-decoration: none;
    }
}

.btn-link {
    min-width: auto;
    border-radius: 0;
    border-width: 0;
    padding: 0;
    letter-spacing: -.01em;
    text-transform: none;

    &:before {
        cursor: pointer;
    }

    &:hover {
        opacity: .75;
    }
}

.btn-primary {
    @include button-variant($blue-400, $blue-400);

    &:hover,
    &:focus,
    &:active,
    &:disabled {
        box-shadow: none;
    }

    &:hover {
        background: $blue-500;
        border-color: $blue-500;
    }

    &:active,
    &:focus {
        background: $blue-600;
        border-color: $blue-600;
    }

    &:disabled {
        background: $blue-200;
        border-color: $blue-200;
    }
}

.btn-lg {
    @include button-size(10px 0, 10px 0, em(18, 18), 1, 0);
    min-width: 215px;
}

.btn-md {
    @include button-size(8px 0, 7px 0, em(13, 16), 1, 4px);
    min-width: 154px;
}

.btn-sm {
    @include button-size(14px 0, 14px 0, em(16, 18), 1, 0);
    min-width: 182px;
}

.btn-xs {
    @include button-size(7px 0, 7px 0, em(14, 18), 1, 0);
    min-width: 174px;
}

.btn-xm {
    @include button-size(8px 0, 8px 0, em(12, 18), 1, 0);
    min-width: 33px;
    color: $secondary-color;

    &:before {
        font-size: em(16);
    }
}

.btn-form {
    min-width: 100%;
    padding: 16px 0;
}

.btn-switch {
    position: relative;
    width: 54px;
    height: 27px;

    input[type=checkbox] {
        position: absolute;
        visibility: hidden;

        &:checked {
            
            & + label {
                background: $primary-color;

                &:before {
                    left: 1px;
                }
            }
        }
    }

    label {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 27px;
        background: #c7c6ce;
        transition: all .25s;
        cursor: pointer;

        @include pseudo-el(before, 25px, 25px) {
            top: 1px;
            left: 28px;
            border-radius: 50%;
            background: $secondary-color;
            box-shadow: 0 0 2px rgba(#000, .06);
            transition: all .25s;
            z-index: 20;
        }
    }
}
