section {
    position: relative;

    &:not(.section-jumbo) {
        margin-bottom: 55px;
    }
}

.section-jumbo {
    padding: 0;
}

.section-cards {
    padding-top: 190px;
}

.section-news {
    padding-top: 0;
    padding-bottom: 30px;
}

.section-careers {
    padding-bottom: 20px;
}

.section-stories {
    padding-bottom: 50px;
}

.section-quote {
    padding-bottom: 55px;
}