$icons: (
    edit: url($path-images + 'icons/icon-edit.png') no-repeat,
    send: url($path-images + 'icons/icon-send.png') no-repeat,
    remove: url($path-images + 'icons/icon-remove.png') no-repeat,
    switch-off: url($path-images + '/icons/icon-times.svg') no-repeat,
    switch-on: url($path-images + '/icons/icon-checkmark.svg') no-repeat
);

//Icons classes
@each $name, $value in $icons {

    .icon-#{$name} {
        background: $value;

        &:focus {
            background: $value;
        }
    }
}

.icon {
    position: relative;

    &.icon-edit {
        width: 16px;
        height: 17px;
    }

    &.icon-send {
        width: 26px;
        height: 13px;

        &:after {
            position: absolute;
            top: 5px;
            right: -3px;
            margin-left: 0;
            vertical-align: baseline;
            border-top: 4px solid $dark-200;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
    }

    &.icon-remove {
        width: 13px;
        height: 17px;   
    }

    &.icon-switch {
        position: absolute;
        top: 8px;
        width: 25px;
        height: 25px;
        z-index: 10;
    }

    &.icon-switch-on {
        right: -2px;
    }

    &.icon-switch-off {
        left: 7px;
    }
}