$input-holder-xs: 130px;

//Main configs
html {
    min-height: 100%;
    height: auto;
}

.js-menu-opened {

    .navigation-cont {
        right: 0;
    }

    body {
        
        @include media-breakpoint-down(md) {
            height: 100%;
            overflow: hidden;
        }
    }

    .tint {

        @include media-breakpoint-down(md) {
            visibility: visible;
            opacity: 1;
            z-index: 3;
            transition: all .5s ease-in;
        }
    }

    .logo-cont {

        @include media-breakpoint-down(md) {
            opacity: 0;
            visibility: hidden;
        }
    }

    .open-btn {
        
        @include media-breakpoint-down(md) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 35px;
            color: $hamburger-color;
            z-index: 999;
        }

        &:before {

            @include media-breakpoint-down(md) {
                content: '\f00d';
            }
        }
    }
}

body {
    position: relative;
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    padding-bottom: 55px;
    color: $default-text-color;
    font: $default-font-weight normal $default-font-size $default-font-family;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
    }
}

.wrapper {
    overflow: hidden;
}

//Tint
.tint {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background: hsla(0, 0%, 100%, .85);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-out;
}
