.footer {
    padding: 55px 20px 25px;
    border-top: 2px solid $success-color;

    a {

        &:hover {
            text-decoration: none;
            opacity: .75;
        }
    }

    .logo-cont {
        margin-bottom: 15px;
    }
}

.copyright {
    display: block;
    font-size: em(14);
    line-height: 1.5;
    letter-spacing: .01em;

    @include media-breakpoint-down(sm) {
        margin: 0 auto 10px;
    }
}

.footer-logo {
    display: block;
    width: 146px;
    height: 36px;

    @include media-breakpoint-up(md) {
        margin-top: -15px;
    }

    img {
        width: 100%;
    }
}

.footer-list {
    font-size: em(16);

    @include media-breakpoint-down(sm) {
        margin-bottom: 10px;
    }

    li {

        &:not(:last-child) {
            margin-right: 43px;

            @include media-breakpoint-down(lg) {
                margin-right: 15px;
            }
        }

        a {
            color: $default-text-color;
        }
    }
}
