//Inputs
$input-holder-lg: 100%;
$input-holder-md: 59%;
$input-holder-sm: 252px;
$input-holder-xs: 130px;

$form-control: 50px;
$form-control-sm: 31px;

@include placeholder {
    line-height: 1.92;
    opacity: 1;
    transition: opacity .3s ease;
}

input:focus,
.form-control:focus {
    outline: none;

    @include placeholder {
        opacity: 0;
        transition: opacity .3s ease;
    }
}

textarea {
    resize: none;
}

input, 
textarea {
    text-overflow: ellipsis;
}

.select-reseted {
    background: none;
    border: 0;
}

.input-holder {
    position: relative;
    transition: all .15s ease;

    @include media-breakpoint-down(sm) {
        width: 100%;
    }

    .overlapped-right {
        position: absolute;
        top: 50%;
        right: 7px;
        transform: translateY(-50%);
    }
}

.input-holder-lg {

    @include media-breakpoint-up(md) {
        min-width: $input-holder-lg;
    }
}

.input-holder-md {

    @include media-breakpoint-up(md) {
        width: $input-holder-md;
    }
}

.input-holder-sm {

    @include media-breakpoint-up(md) {
        min-width: $input-holder-sm;
    }

    @include media-breakpoint-down(sm) {
        min-width: $input-holder-sm*2;
    }
}

.input-holder-xs {
    width: $input-holder-xs;

    @include media-breakpoint-down(md) {
        width: 170px;
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}


.form-control {
    height: $form-control;
    padding: 0 35px 0 10px;
    color: $dark-300;
    font-size: em(13);
    font-weight: 400;
    box-shadow: none;
    line-height: 1.92;

    &:focus, 
    &:active {
        box-shadow: none;
        outline: 0;
    }

    @include placeholder {
          color: $dark-300;
    }

    &.color-light-500 {
        color: $light-500;
        font-size: em(13);

        @include placeholder {
              color: $light-500;
        }
    }
}

.form-control-sm {
    height: $form-control-sm;
}
