.header {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    z-index: 9;

    @include media-breakpoint-down(md) {
        padding: 10px 0;
    }
}

.header-row {
    position: relative;


}

.open-btn {
    position: absolute;
    @extend %absCenterY;
    right: 35px;
    font-size: 1.8em;
    color: $primary-color;
    cursor: pointer;
    transition: all .3s ease;
}

.logo-cont {
    line-height: 1.1;
    transition: all .15s ease;

    h1 {
        font-family: $brand-font;
        font-size: em(18);
    }
    
    a {
        margin-right: 15px;
        color: $secondary-color;

        &:hover {
            text-decoration: none;
            opacity: .85;
        }
    }

    span {
        color: #88a5b7;
        font-family: $default-font-family;
        font-size: em(15.5, 18);
    }
}

.header-control {
    font-size: em(13);
    line-height: 1.1;

    .user-name {
        display: block;
        color: $secondary-color;
        border-right: 2px solid #c0c0c0;
        padding-right: 14px;
        margin-right: 13px;
    }

    .sign-out {
        font-size: em(13.5, 13);
        font-weight: 400;
        color: $primary-color;
    }
}
