.navigation-cont {

    @include media-breakpoint-down(md) {
        position: fixed;
        top: 0;
        right: -350px;
        width: 300px;
        height: 100%;
        background: $secondary-color;
        box-shadow: -5px 0 20px 0 rgba($dark-700, .25);
        padding: 30px 40px;
        font-size: 16px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        z-index: 6;
        transition: all .3s ease;
    }

    @include media-breakpoint-down(sm) {
        width: 250px;
    }
}

.nav-holder {
    width: 100%;
}

.nav-list {
    font-size: em(14);
    font-weight: 600;
    letter-spacing: .02em;
    line-height: 2;
    z-index: 2;

    li {
        position: relative;
        transition: all .15s ease;
        z-index: 2;

        &:last-child {
            
            a {
                padding-right: 0;
            }
        }

        &:hover {

            a {
                color: $success-color;
            }
        }

        a {
            position: relative;
            display: block;
            padding: 0 17px;
            color: $primary-color; 
            transition: all .15s ease;
            z-index: 2;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .active {
        transition: all .15s ease;

        &:hover {

            a {
                color: $secondary-color;
            }
        }

        a {
            color: $secondary-color;
            background: $success-color;
        }
    }
}