.table-responsive {
    border: 0;
}

.table-holder {
    margin-bottom: 15px;
}

.table-striped {

    > tbody {
        
        > tr {
            
            &:nth-of-type(even) {
                background: transparent;
            }

            &:nth-of-type(odd) {
                background: #eee;
            }
        }
    }
}

.table {
    display: table;
    margin-bottom: 0;
    font-size: em(13);

    > thead,
    > tbody,
    > tfoot {

        > tr {

            > th,
            > td {
                border: 0;
                padding: 15px 0;
                line-height: 1.5;
            }
        }
    }

    > thead {

        > tr {

            > th {
                padding: 13px 0;
                font-weight: 400;

                &:first-child,
                &:last-child {
                    padding-left: 13px;
                    padding-right: 13px;
                }
            }
        }
    }

    > tbody {

        > tr {
            border-bottom: 1px solid #f1f1f4;

            > th,
            > td {
                padding: 10px 3px;
                border: 0;
                line-height: 1.5;
                vertical-align: baseline;

                &:first-child,
                &:last-child {
                    padding-left: 20px;
                    padding-right: 20px;
                }

                &:first-child {
                    color: $blue-100;
                    text-align: left;
                }

                &:last-child {
                    
                }
            }

            > td {
                vertical-align: middle;
            }
        }
    }
}
