//Main theme colors
$primary-color: #1b90d8;
$secondary-color: #fff;
$success-color: #8fc73e;
$info-color: #17a2b8;
$warning-color: #eab433;
$danger-color: #800307;
$light-400: #ddd;
$light-500: #a1a1a1;
$light-600: #999;
$dark-200: #c1c1c1;
$dark-300: #444;
$dark-400: #333;
$dark-600: #111;
$dark-700: #000;
$blue-100: #1290d6;
$blue-200: rgba(#0091df, .5);
$blue-400: #0091df;
$blue-500: #0074b3;
$blue-600: #005380;

$border-radiuses: (
    xs: 2px,
    sm: 4px,
    md: 6px,
    lg: 8px
);

$border-colors: (
    grey-400: #bebebe
);

$ui-colors: (
    primary: $primary-color,
    secondary: $secondary-color,
    success: $success-color,
    info: $info-color,
    warning: $warning-color,
    danger: $danger-color,
    light-400: $light-400,
    light-500: $light-500,
    light-600: $light-600,
    dark-200: $dark-200,
    dark-300: $dark-300,
    dark-400: $dark-400,
    dark-600: $dark-600,
    dark-700: $dark-700,
    blue-100: $blue-100
);

$section-bg: (
    body: transparent,
    wrapper: transparent,
    header: $dark-700,
    jumbo: transparent,
    cards: transparent,
    news: transparent,
    careers: transparent,
    stories: transparent,
    quote: transparent,
    footer: transparent
);

//Fonts colors
$color-secondary: #fff !default;
$color-inverse: #000 !default;

$default-text-color: $primary-color;
$text-color: $dark-300;
$section-title-color: $secondary-color;

$hamburger-color: $success-color;

//Brand socials colors
$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$linkedin-color: #0077b5;
$google-color: #ea4335;
$envelope-color: #5d5f5f;

//Border color classes
@each $color, $value in $border-colors {

    .border-#{$color} {
        border-color: $value;
    }
}

//Background classes
@each $color, $value in $ui-colors {

    .bg-#{$color} {
        background: $value;

        &:focus {
            background: $value;
        }
    }
}

//Buttons variants
@each $color, $value in $ui-colors {

    .btn-#{$color} {
        @include button-variant($value, $value);
    }
}

//Section backgrounds classes
@each $name, $value in $section-bg {

    .bg-#{$name} {
        background: $value;
    }
}

//Font color classes
@each $color, $value in $ui-colors {

    .color-#{$color} {
        color: $value;
    }
}

//Border-radius classes
@each $radius, $value in $border-radiuses {

    .rounded-#{$radius} {
        border-radius: $value;
    }
}
