//Fonts routes
$path-fonts: '../fonts/';
$path-images: '../images/';

//Variables
$default-row-gap: -15px;
$row-gap: 30px;
$row-gap-xl: 100px;
$row-gap-lg: 80px;
$row-gap-md: 60px;
$row-gap-sm: 20px;
$row-gap-xs: 15px;
$default-col-gap: 15px;
$col-gap: 30px;

//fonts
$open-sans: 'Open Sans';
$benton-sans: 'Benton Sans';

$default-font-family: $open-sans, sans-serif;
$brand-font: $benton-sans, sans-serif;

$default-font-size: 16px;
$default-font-weight: 400;

$brand-letter-space: -.02em;

//Pics

//Container
$containerOffsetX: 35px;
$containerOffsetXTablet: 25px;
$containerOffsetXMobile: 15px;
$containerWidth: 1094px;
$containerSmallWidth: 991px;
$containerXSmallWidth: 767px;

//Extend
%pseudos {
    position: absolute;
    display: block;
    content: '';
}

%marginCenter {
    margin: 0 auto;
    left: 0;
    right: 0;
}

%absCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%absCenterY {
    top: 50%;
    transform: translateY(-50%);
}

%absCenterX {
    left: 50%;
    transform: translateX(-50%);
}
