<div class="edit-tools d-flex align-items-center">
    
    <button class="btn btn-link icon icon-edit"></button>
    <div class="dropdown">
        <button class="btn btn-link icon icon-send dropdown-toggle" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown"><span class="caret"></span></button>
    </div>
    <button class="btn btn-link icon icon-remove"></button>

</div>