<form id="form-search-events" class="form-search-events" action="handler.php">
    
    <div class="input-holder input-holder-sm">
        <input type="search" class="form-control form-control-sm rounded-sm color-light-500 border-grey-400" placeholder="Search Events ...">
        <button for="form-search-events" class="btn btn-link fa fa-search color-light-500 overlapped-right"></button>
    </div>

</form>