.create-modal {
  
    .images {
        overflow: hidden;

        .upload-area {
            min-height: 129px;
            position: relative;
            background: #f6f6f9;
            border-radius: 3px;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;

            &:hover {
                background-color: #e6e6eb;
            }

            .placeholder {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                width: 100%;
                text-align: center;

                &:after {
                    position: absolute;
                    width: 1000px;
                    height: 1000px;
                    content: '';
                    display: block;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                }

                img {
                    display: block;
                    margin: 0 auto 3px;
                }

                .lbl {
                    opacity: 0.76;
                    color: #575757;
                    font-family: "Open Sans";
                    font-size: 11px;
                    font-weight: 400;
                }
            }
        }

        .profile {
            float: left;
            width: 129px;
            margin-right: 18px;
        }

        .banner {
            overflow: hidden;
        }
    } 
}
