<footer class="footer bg-footer">
    
    <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center align-items-md-start">
        
        <div class="d-flex flex-column align-items-center align-items-md-start">
        
            <small class="copyright">&copy; 2017 Walgreens Boots Alliance, Inc.</small>

        </div>

        <div class="d-flex">
            
            <a class="footer-logo" href="http://enterprisealumni.com" target="_blank"><img src="assets/images/alumni@2x.png" alt="Alumni logo"></a>

        </div>

    </div>

</footer>