<header class="header bg-header inner-gap">
        
    <div class="header-row d-flex justify-content-between align-items-start">
            
        <div class="col-left">
            
            //= components/logo.html

        </div>

        <div class="col-right">
            
            //= components/header-control.html

        </div>

    </div>

    <i class="fa fa-bars open-btn js-open-btn d-block d-lg-none" aria-hidden="true"></i>

</header>