<div class="subheader d-flex justify-content-between align-items-center inner-gap">
    
    <div class="col-left">
        
        //= components/form-search-events.html

    </div>

    <div class="col-right">
        
        //= components/btn-create-event.html

    </div>

</div>