<table class="table table-responsive table-hover">
    <thead class="thead-inverse">
        <tr>
            <th>
                <select class="select-reseted color-secondary" name="event-name">
                    <option value="">Event Name</option>
                </select>
            </th>
            <th>
                <select class="select-reseted color-secondary" name="location">
                    <option value="">Location</option>
                </select>
            </th>
            <th>
                <select class="select-reseted color-secondary" name="date">
                    <option value="">Date / Time</option>
                </select>
            </th>
            <th>
                <select class="select-reseted color-secondary" name="organizer">
                    <option value="">Organizer</option>
                </select>
            </th>
            <th>
                <select class="select-reseted color-secondary" name="attendees">
                    <option value="">Attendees</option>
                </select>
            </th>
            <th>Action</th>
            <th>Published</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Coffee & Networking</th>
            <td>Peninsuala Hotel <br> Los Angeles, California, USA</td>
            <td>01/11/2017,  3:30PM</td>
            <td>John Smith</td>
            <td><strong class="color-primary">65</strong></td>
            <td>
                //= components/edit-tools.html
            </td>
            <td>
                <div class="btn-switch d-flex">
                    <input type="checkbox" id="switch-1" checked>
                    <label for="switch-1">
                        <i class="icon icon-switch icon-switch-off"></i>
                        <i class="icon icon-switch icon-switch-on"></i>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Working Parents Webinar</th>
            <td>Online Webinar</td>
            <td>19/11/2017,  5:30PM</td>
            <td>John Smith</td>
            <td><strong class="color-primary">22</strong></td>
            <td>
                //= components/edit-tools.html
            </td>
            <td>
                <div class="btn-switch d-flex">
                    <input type="checkbox" id="switch-2" checked>
                    <label for="switch-2">
                        <i class="icon icon-switch icon-switch-off"></i>
                        <i class="icon icon-switch icon-switch-on"></i>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Alumni Charity Fun Run: LA</th>
            <td>Town Park DTLA <br> Los Angeles, California, USA</td>
            <td>07/12/2017,  7:00PM</td>
            <td>John Smith</td>
            <td><strong class="color-primary">109</strong></td>
            <td>
                //= components/edit-tools.html
            </td>
            <td>
                <div class="btn-switch d-flex">
                    <input type="checkbox" id="switch-3" checked>
                    <label for="switch-3">
                        <i class="icon icon-switch icon-switch-off"></i>
                        <i class="icon icon-switch icon-switch-on"></i>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Women in Business</th>
            <td>Online Webinar</td>
            <td>17/12/2017,  5:30PM</td>
            <td>John Smith</td>
            <td><strong class="color-primary">197</strong></td>
            <td>
                //= components/edit-tools.html
            </td>
            <td>
                <div class="btn-switch d-flex">
                    <input type="checkbox" id="switch-4" checked>
                    <label for="switch-4">
                        <i class="icon icon-switch icon-switch-off"></i>
                        <i class="icon icon-switch icon-switch-on"></i>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Stepping into Management</th>
            <td>Online Webinar</td>
            <td>20/12/2017,  10:00AM</td>
            <td>John Smith</td>
            <td><strong class="color-primary">29</strong></td>
            <td>
                //= components/edit-tools.html
            </td>
            <td>
                <div class="btn-switch d-flex">
                    <input type="checkbox" id="switch-5" checked>
                    <label for="switch-5">
                        <i class="icon icon-switch icon-switch-off"></i>
                        <i class="icon icon-switch icon-switch-on"></i>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Leadership Now</th>
            <td>Online Webinar</td>
            <td>07/01/2018,  11:30AM</td>
            <td>John Smith</td>
            <td><strong class="color-primary">180</strong></td>
            <td>
                //= components/edit-tools.html
            </td>
            <td>
                <div class="btn-switch d-flex">
                    <input type="checkbox" id="switch-6" checked>
                    <label for="switch-6">
                        <i class="icon icon-switch icon-switch-off"></i>
                        <i class="icon icon-switch icon-switch-on"></i>
                    </label>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Career Guidance 2018</th>
            <td>Online Webinar</td>
            <td>10/02/2018,  12:00PM</td>
            <td>John Smith</td>
            <td><strong class="color-primary">29</strong></td>
            <td>
                //= components/edit-tools.html
            </td>
            <td>
                <div class="btn-switch d-flex">
                    <input type="checkbox" id="switch-7" checked>
                    <label for="switch-7">
                        <i class="icon icon-switch icon-switch-off"></i>
                        <i class="icon icon-switch icon-switch-on"></i>
                    </label>
                </div>
            </td>
        </tr>
    </tbody>
</table>